@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        @Html.AntiForgeryToken()
        <ul class="navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/pages/about-me">About Me</a></li>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Resources.GlobalResources.Admin</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink(@Resources.GlobalResources.AddPost, "Create", "Posts", new { Area = "Administration" }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink(Resources.GlobalResources.Posts, "All", "Posts", new { Area = "Administration" }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink(Resources.GlobalResources.Tags, "All", "Tags", new { Area = "Administration" }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink(Resources.GlobalResources.Comments, "All", "Comments", new { Area = "Administration" }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink(Resources.GlobalResources.Pages, "All", "Pages", new { Area = "Administration" }, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
            }
            <li class="nav-item">@Html.ActionLink(string.Format("{0} {1}!", Resources.GlobalResources.HelloMessage, User.Identity.GetUserName()), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">@Resources.GlobalResources.LogOff</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/pages/about-me">About Me</a></li>
            <li class="nav-item">@Html.ActionLink(Resources.GlobalResources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink(Resources.GlobalResources.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
        </ul>
}
